<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dream.dreamview">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/NoTranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Dialog"
            android:theme="@style/MyDialogStyleBottom" />
        <activity android:name=".sample.NavFoldSampleActivity" />
        <activity android:name=".sample.CustomNavFoldSampleActivity" />
        <activity android:name=".SwipActivity" />
        <activity android:name=".sample.CustomeToolbarSampleActivity" />
        <activity android:name=".test.RetrofitActivity" />
        <activity
            android:name=".module.meinv.BeautyActivity"
            android:process=":test" />
        <activity android:name=".module.meinv.FullScreenActivity" />
        <activity android:name=".module.multi.MultiTypeActivity" />
        <activity android:name=".module.video.VideoActivity" />
        <activity android:name=".module.anim.AnimationActivity" />
        <activity android:name=".test.TestActivity" />
        <activity android:name=".test.KotlinActivity" />
        <activity android:name=".module.room.RoomDBActivity" />
        <activity android:name=".module.secret.SecretActivity" />
    </application>

</manifest>